raspberryPi_os_nodered/server_room_projet/server_room_project.txt
[{"id":"MQTT.Localhost","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"9ac58703.653a78","type":"mqtt-broker","broker":"192.168.1.109","port":"1883","clientid":""},{"id":"a687ca93.597838","type":"exec","command":"raspistill -w 1280 -h 720 -q 100 -o image.jpg","addpay":false,"append":"","useSpawn":"","name":"","x":250.333251953125,"y":391.888879776001,"z":"c3aed0d3.3ce58","wires":[["c4395102.3bc6b"],[],[]]},{"id":"548e4457.ab71bc","type":"mqtt in","name":"","topic":"temperature_critical","broker":"9ac58703.653a78","x":91.5,"y":50,"z":"c3aed0d3.3ce58","wires":[["4a0dd73b.b5f228","4e7cf74a.b18308"]]},{"id":"6b843c3e.947bc4","type":"file","name":"","filename":"file.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":689.7777938842773,"y":118.33333587646484,"z":"c3aed0d3.3ce58","wires":[]},{"id":"4a0dd73b.b5f228","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"temp"}],"checkall":"true","outputs":1,"x":269.222225189209,"y":49.88888931274414,"z":"c3aed0d3.3ce58","wires":[["24547baa.dbab84","6b843c3e.947bc4","2ac92a81.d536d6"]]},{"id":"4e7cf74a.b18308","type":"debug","name":"","active":true,"console":"false","complete":"false","x":96.55554580688477,"y":121.33333969116211,"z":"c3aed0d3.3ce58","wires":[]},{"id":"ba291fb1.45d6e","type":"mqtt in","name":"","topic":"Motion_alert","broker":"MQTT.Localhost","x":88.1111068725586,"y":191.33333778381348,"z":"c3aed0d3.3ce58","wires":[["6dbd6c8e.924294","47d99299.b8266c"]]},{"id":"6dbd6c8e.924294","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"Touch"}],"checkall":"true","outputs":1,"x":249.8888702392578,"y":192.44444465637207,"z":"c3aed0d3.3ce58","wires":[["a687ca93.597838","6b843c3e.947bc4","2ac92a81.d536d6"]]},{"id":"df428d0b.20bd7","type":"dateformat","dayname":false,"date":"DD/MM/YYYY","hour":"HH:mm:ss","meridiem":true,"timezone":"Asia/Kolkata","x":448.00001525878906,"y":117.77777767181396,"z":"c3aed0d3.3ce58","wires":[["188c46bf.e773b9","6b843c3e.947bc4"]]},{"id":"188c46bf.e773b9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":646.6666946411133,"y":192.99999332427979,"z":"c3aed0d3.3ce58","wires":[]},{"id":"4b513574.b4aecc","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"taralshah.shah@gmail.com","dname":"email","x":874.222282409668,"y":117.00000190734863,"z":"c3aed0d3.3ce58","wires":[]},{"id":"8db043f7.724fc","type":"change","name":"","rules":[{"t":"set","p":"media","to":"payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":664.2222518920898,"y":322.11107635498047,"z":"c3aed0d3.3ce58","wires":[["cd78fe6e.3287"]]},{"id":"3f5f07a0.c0a0f8","type":"inject","name":"","topic":"","payload":"temp","payloadType":"string","repeat":"","crontab":"","once":false,"x":385.11802673339844,"y":282.22223472595215,"z":"c3aed0d3.3ce58","wires":[[]]},{"id":"c4395102.3bc6b","type":"file in","name":"","filename":"image.jpg","format":"","x":671.7847442626953,"y":377.5555419921875,"z":"c3aed0d3.3ce58","wires":[["8db043f7.724fc"]]},{"id":"cd78fe6e.3287","type":"set","property":"topic","value":"Motion alert","name":"","x":654.4513702392578,"y":248.44447994232178,"z":"c3aed0d3.3ce58","wires":[["4b513574.b4aecc"]]},{"id":"24547baa.dbab84","type":"set","property":"payload","value":"Temperature is critical","name":"","x":548.8957977294922,"y":37.888885498046875,"z":"c3aed0d3.3ce58","wires":[["4b513574.b4aecc"]]},{"id":"2ac92a81.d536d6","type":"timestamp","name":"k","x":312.22226333618164,"y":118.33334350585938,"z":"c3aed0d3.3ce58","wires":[["df428d0b.20bd7"]]},{"id":"47d99299.b8266c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":102.78470611572266,"y":257.7777795791626,"z":"c3aed0d3.3ce58","wires":[]}]