Beaglebone_NodeRed/flow_program_nodered_beaglebone/sensor_control_gpio/paras_example.txt
[{"id":"b27eb23.681ecd","type":"mqtt-broker","z":"17c28c4f.e83d74","broker":"192.168.1.112","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"431362ad.bcec9c","type":"inject","z":"17c28c4f.e83d74","name":"on","topic":"","payload":"1","payloadType":"string","repeat":"","once":false,"x":149,"y":243,"wires":[[]]},{"id":"ab3181b.f54ce8","type":"inject","z":"17c28c4f.e83d74","name":"off","topic":"","payload":"0","payloadType":"string","repeat":"","once":false,"x":149,"y":283,"wires":[[]]},{"id":"9d5e4abd.62a1b8","type":"bbb-discrete-out","z":"17c28c4f.e83d74","pin":"P8_8","inverting":false,"toggle":true,"defaultState":"0","name":"","x":432,"y":175,"wires":[[]]},{"id":"5555051e.aaaafc","type":"bbb-discrete-out","z":"17c28c4f.e83d74","pin":"P8_9","inverting":false,"toggle":true,"defaultState":"0","name":"","x":431,"y":211,"wires":[[]]},{"id":"13d12377.ec2edd","type":"inject","z":"17c28c4f.e83d74","name":"on","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":131,"y":146,"wires":[["9d5e4abd.62a1b8","a7203ffb.58dfc","5555051e.aaaafc","b8832d3a.477cd","3a736e70.c58c92"]]},{"id":"c1487eb2.3eb78","type":"inject","z":"17c28c4f.e83d74","name":"off","topic":"","payload":"0","payloadType":"string","repeat":"10","crontab":"","once":false,"x":142,"y":201,"wires":[["cf3ec035.30c14"]]},{"id":"5daea4ae.a2515c","type":"debug","z":"17c28c4f.e83d74","name":"","active":true,"console":"false","complete":"payload","x":366,"y":62,"wires":[]},{"id":"d339c5e.4a530b8","type":"mqtt in","z":"17c28c4f.e83d74","name":"","topic":"topic","broker":"b27eb23.681ecd","x":125,"y":54,"wires":[["5daea4ae.a2515c"]]},{"id":"a7203ffb.58dfc","type":"debug","z":"17c28c4f.e83d74","name":"","active":false,"console":"false","complete":"false","x":399,"y":135,"wires":[]},{"id":"cf3ec035.30c14","type":"debug","z":"17c28c4f.e83d74","name":"","active":false,"console":"false","complete":"payload","x":400,"y":319,"wires":[]},{"id":"b8832d3a.477cd","type":"bbb-discrete-out","z":"17c28c4f.e83d74","pin":"P8_10","inverting":false,"toggle":true,"defaultState":"0","name":"","x":431,"y":246,"wires":[[]]},{"id":"3a736e70.c58c92","type":"bbb-discrete-out","z":"17c28c4f.e83d74","pin":"P8_12","inverting":false,"toggle":true,"defaultState":"0","name":"","x":434,"y":282,"wires":[[]]}]