Beaglebone_NodeRed/flow_program_nodered_beaglebone/serial/Control.txt
[{"id":"52c4a7a1.3fd218","type":"mqtt-broker","z":"57c4ad61.728f94","broker":"192.168.1.112","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"8882a61c.d60998","type":"websocket-listener","path":"/ws/simple","wholemsg":"false"},{"id":"cec6616f.a82cd8","type":"websocket out","z":"57c4ad61.728f94","name":"","server":"8882a61c.d60998","client":"","x":571,"y":205,"wires":[]},{"id":"c44e431.43a714","type":"http response","z":"57c4ad61.728f94","name":"","x":542,"y":145,"wires":[]},{"id":"52e789f4.bbab9","type":"http in","z":"57c4ad61.728f94","name":"","url":"/simple","method":"get","swaggerDoc":"","x":173,"y":145,"wires":[["9c4b1d99.27eef8"]]},{"id":"9c4b1d99.27eef8","type":"template","z":"57c4ad61.728f94","name":"Simple Web Page","field":"payload","format":"html","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n                document.getElementById('messages1').innerHTML = line;\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n        function checkboxclk(){\n        ws.send(document.getElementById('fs').checked);    \n//        alert(document.getElementById('fs').checked);    \n        \n        }\n        function checkboxclk1(){\n            if(document.getElementById('fs1').checked == true)\n                ws.send(\"true1\");\n            else\n                ws.send(\"false1\");\n//        alert(document.getElementById('fs').checked);    \n        \n        }\n        \n    </script>\n    <style type=\"text/css\"> \n    .styled-button-10 {\n    background-color: #33cc33; /* Green */\n    border: none;\n    border-radius: 4px;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n    }\n    .button {\n    background-color: #d50000; /* Red */\n    border: none;\n    border-radius: 4px;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n    }\n    \n    .flipswitch {\n  position: relative;\n  width: 86px;\n  -webkit-user-select:none;\n  -moz-user-select:none;\n  -ms-user-select: none;\n}\n.flipswitch input[type=checkbox] {\n  display: none;\n}\n.flipswitch-label {\n  display: block;\n  overflow: hidden;\n  cursor: pointer;\n  border: 2px solid #999999;\n  border-radius: 50px;\n}\n.flipswitch-inner {\n  width: 200%;\n  margin-left: -100%;\n  -webkit-transition: margin 0.3s ease-in 0s;\n  -moz-transition: margin 0.3s ease-in 0s;\n  -ms-transition: margin 0.3s ease-in 0s;\n  -o-transition: margin 0.3s ease-in 0s;\n  transition: margin 0.3s ease-in 0s;\n}\n.flipswitch-inner:before, .flipswitch-inner:after {\n  float: left;\n  width: 50%;\n  height: 24px;\n  padding: 0;\n  line-height: 24px;\n  font-size: 18px;\n  color: white;\n  font-family: Trebuchet, Arial, sans-serif;\n  font-weight: bold;\n  -moz-box-sizing: border-box;\n  -webkit-box-sizing: border-box;\n  box-sizing: border-box;\n}\n.flipswitch-inner:before {\n  content: \"ON\";\n  padding-left: 12px;\n  background-color: #256799;\n  color: #FFFFFF;\n}\n.flipswitch-inner:after {\n  content: \"OFF\";\n  padding-right: 12px;\n  background-color: #EBEBEB;\n  color: #888888;\n  text-align: right;\n}\n.flipswitch-switch {\n  width: 31px;\n  margin: -3.5px;\n  background: #FFFFFF;\n  border: 2px solid #999999;\n  border-radius: 50px;\n  position: absolute;\n  top: 0;\n  bottom: 0;\n  right: 59px;\n  -webkit-transition: all 0.3s ease-in 0s;\n  -moz-transition: all 0.3s ease-in 0s;\n  -ms-transition: all 0.3s ease-in 0s;\n  -o-transition: all 0.3s ease-in 0s;\n  transition: all 0.3s ease-in 0s;\n}\n.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {\n  margin-left: 0;\n}\n.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {\n  right: 0;\n}\n</style>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Smart Home </h1>\n        <TABLE BORDER=\"0\">\n        <TR>    \n        <TD><h2>Motion &emsp; &emsp; &emsp; </h2></TD>\n        <TD><div class=\"flipswitch\">\n        <input type=\"checkbox\" name=\"flipswitch\"  class=\"flipswitch-cb\" onclick=\"checkboxclk();\" id=\"fs\" checked>\n        <label class=\"flipswitch-label\" for=\"fs\">\n        <div class=\"flipswitch-inner\"></div>\n        <div class=\"flipswitch-switch\"></div>\n        </label>\n        </div></TD>\n        </TR>\n        </TABLE>\n\n        <TABLE BORDER=\"0\">\n        <TR>    \n        <TD><h2>Ultrasonic  &emsp; &emsp; </h2></TD>\n        <TD><div class=\"flipswitch\">\n        <input type=\"checkbox\" name=\"flipswitch\"  class=\"flipswitch-cb\" onclick=\"checkboxclk1();\" id=\"fs1\" checked>\n        <label class=\"flipswitch-label\" for=\"fs1\">\n        <div class=\"flipswitch-inner\"></div>\n        <div class=\"flipswitch-switch\"></div>\n        </label>\n        </div></TD>\n        </TR>\n        </TABLE>\n\n\n        <TABLE BORDER=\"0\">\n        <TR>\n        <TD><p><button type=\"button\" class=\"button\" onclick='doit(\"LED41\");'>Light ON</button></p></TD>\n        <TD><button type=\"button\" class=\"styled-button-10\" onclick='doit(\"LED40\");'>Light OFF</button></TD>\n        </TR>\n        </TABLE>\n        <TABLE BORDER=\"0\">\n        <TR>\n        <TD><p><button type=\"button\" class=\"button\" onclick='doit(\"LED51\");'>Fan&nbsp;&nbsp;&nbsp;ON</button></p></TD>\n        <TD><button type=\"button\" class=\"styled-button-10\" onclick='doit(\"LED50\");'>Fan&nbsp;&nbsp;&nbsp;OFF</button></TD>\n        </TR>\n        </TABLE>\n        <TABLE BORDER=\"0\">\n        <TR>\n        <TD><p><button type=\"button\" class=\"button\" onclick='doit(\"LED61\");'>Door&nbsp;ON</button></p></TD>\n        <TD><button type=\"button\" class=\"styled-button-10\"  onclick='doit(\"LED60\");'>Door&nbsp;OFF</button></TD>\n        </TR>\n        </TABLE>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":369,"y":144,"wires":[["c44e431.43a714"]]},{"id":"ccf41227.83182","type":"function","z":"57c4ad61.728f94","name":"format time nicely","func":"msg.payload = (msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":205,"wires":[["cec6616f.a82cd8"]]},{"id":"24b89bc7.e1854c","type":"websocket in","z":"57c4ad61.728f94","name":"","server":"8882a61c.d60998","client":"","x":358,"y":257,"wires":[["e8a6c2f.341bfc","9160c0ae.77141"]]},{"id":"e8a6c2f.341bfc","type":"debug","z":"57c4ad61.728f94","name":"","active":false,"console":"false","complete":"payload","x":633,"y":295,"wires":[]},{"id":"9160c0ae.77141","type":"mqtt out","z":"57c4ad61.728f94","name":"","topic":"/feeds/onoff","qos":"","retain":"","broker":"52c4a7a1.3fd218","x":672,"y":360,"wires":[]}]