Beaglebone_NodeRed/flow_program_nodered_beaglebone/serial/GPIO.txt
[{"id":"51f6b688.eb705","type":"mqtt-broker","z":"e765d55f.09896","broker":"192.168.1.112","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9c9ab77e.4a3d18","type":"function","z":"e765d55f.09896","name":"Toggle 0/1 on input","func":"if (msg.payload == \"ON\" )\n    msg.payload = 1\nelse\n    msg.payload = 0\nreturn msg;\n\n","outputs":1,"noerr":0,"x":331,"y":185,"wires":[["accc93e.bea917","24e0cbbd.68d46c"]]},{"id":"accc93e.bea917","type":"debug","z":"e765d55f.09896","name":"","active":true,"console":"false","complete":"payload","x":570,"y":245.00000095367432,"wires":[]},{"id":"24e0cbbd.68d46c","type":"bbb-discrete-out","z":"e765d55f.09896","pin":"P8_14","inverting":false,"toggle":false,"defaultState":"0","name":"","x":587,"y":167,"wires":[[]]},{"id":"b853e290.728ff8","type":"mqtt in","z":"e765d55f.09896","name":"","topic":"topic","broker":"51f6b688.eb705","x":125,"y":217,"wires":[["9c9ab77e.4a3d18"]]}]