Beaglebone_NodeRed/flow_program_nodered_beaglebone/serial/sensor.txt
[{"id":"c477b55f.b562d8","type":"mqtt-broker","z":"5b644fc7.a721a8","broker":"192.168.1.112","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b2e02d26.0477d","type":"http response","z":"5b644fc7.a721a8","name":"http out","x":695,"y":324,"wires":[]},{"id":"baf552c6.3fbc78","type":"http in","z":"5b644fc7.a721a8","name":"","url":"/data","method":"get","swaggerDoc":"","x":148,"y":329,"wires":[["7f6b8955.6e762"]]},{"id":"636f4164.50331","type":"template","z":"5b644fc7.a721a8","name":"Page Template","field":"","format":"html","template":"<!DOCTYPE HTML>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    Hello there <br />\n</head>\n<body>\n    Motion: {{data.altitude}}<br />\n    Ultrasonic: {{data.concavity}} <br />\n    Door: {{data.reed}}<br />\n\n</body>\n</html>\n","x":513,"y":226,"wires":[["b2e02d26.0477d","addab5ae.b49318"]]},{"id":"7f6b8955.6e762","type":"function","z":"5b644fc7.a721a8","name":"Data buffer","func":"context.data = context.data || new Object();\nswitch (msg.topic) {\n case \"topic1\":\n context.data.concavity = msg.payload;\n msg = null;\n break;\n case \"topic\":\n context.data.altitude = msg.payload;\n msg = null;\n break;\n case \"topic2\":\n context.data.reed = msg.payload;\n msg = null;\n break;\n default:\n \tmsg.data = context.data;\n}\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":220,"wires":[["636f4164.50331"]]},{"id":"234c4e4.1a21532","type":"http in","z":"5b644fc7.a721a8","name":"","url":"/web","method":"get","swaggerDoc":"","x":144,"y":392,"wires":[["50e6dc8d.4f690c","19a21082.d17ccf"]]},{"id":"50e6dc8d.4f690c","type":"template","z":"5b644fc7.a721a8","name":"Auto Update Script","field":"","template":"<script>\n setInterval(function(){\t\n\t var theUrl = \"http://192.168.1.112:1880/data\";\n\t var xmlHttp = new XMLHttpRequest();\n\t xmlHttp.open( \"GET\", theUrl, false );\n\t xmlHttp.send( null );\n\t document. getElementById('data')\n\t \t.innerHTML = xmlHttp.responseText;\n },150);\n</script>\n<div id = 'data'>\n ... Loading ...\n</div>\n","x":390,"y":382,"wires":[["b2e02d26.0477d"]]},{"id":"addab5ae.b49318","type":"debug","z":"5b644fc7.a721a8","name":"","active":false,"console":"false","complete":"true","x":703.888916015625,"y":129.88888549804688,"wires":[]},{"id":"62689443.81c96c","type":"debug","z":"5b644fc7.a721a8","name":"","active":true,"console":"false","complete":"payload","x":460,"y":145,"wires":[]},{"id":"19a21082.d17ccf","type":"debug","z":"5b644fc7.a721a8","name":"","active":false,"console":"false","complete":"true","x":476,"y":326,"wires":[]},{"id":"f4c61372.bd1b28","type":"mqtt in","z":"5b644fc7.a721a8","name":"","topic":"topic","broker":"c477b55f.b562d8","x":150,"y":132,"wires":[["7f6b8955.6e762","62689443.81c96c"]]}]