Beaglebone_NodeRed/flow_program_nodered_beaglebone/serial/serial.txt
[{"id":"1e668369.e1997d","type":"serial-port","z":"59b99ef6.a6466","serialport":"/dev/ttyO0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"64f2c694.9b0d38","type":"serial out","z":"59b99ef6.a6466","name":"","serial":"1e668369.e1997d","x":595,"y":219,"wires":[]},{"id":"9d85129e.627af","type":"inject","z":"59b99ef6.a6466","name":"","topic":"","payload":"1","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":186,"wires":[["64f2c694.9b0d38","e2b3bf9e.1d4c4"]]},{"id":"e2b3bf9e.1d4c4","type":"debug","z":"59b99ef6.a6466","name":"","active":true,"console":"false","complete":"false","x":555,"y":55,"wires":[]}]