Beaglebone_NodeRed/flow_program_nodered_beaglebone/analog_sensor_with_delay_function_watch_storage/analog_sensor_with_delay_function_watch_storage.txt
[{"id":"ad80522.f527fb","type":"inject","z":"59b99ef6.a6466","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":183,"y":137,"wires":[["bb3e7fce.44c18","6b9f4e63.9460b"]]},{"id":"bb3e7fce.44c18","type":"bbb-discrete-out","z":"59b99ef6.a6466","pin":"P8_7","inverting":false,"toggle":true,"defaultState":"0","name":"","x":509,"y":129,"wires":[[]]},{"id":"6b9f4e63.9460b","type":"debug","z":"59b99ef6.a6466","name":"","active":false,"console":"false","complete":"false","x":492,"y":84,"wires":[]},{"id":"b12173a3.4ede9","type":"bbb-analogue-in","z":"59b99ef6.a6466","pin":"P9_40","topic":"","breakpoints":[{"input":0,"output":0,"mutable":false},{"input":1,"output":1,"mutable":false}],"averaging":false,"name":"","x":335,"y":243,"wires":[["630f2f2c.9cf0d","b8027861.47fd88","3bfb27a3.c404d8"]]},{"id":"630f2f2c.9cf0d","type":"debug","z":"59b99ef6.a6466","name":"","active":false,"console":"false","complete":"payload","x":591,"y":238,"wires":[]},{"id":"db2d5a47.24d2a8","type":"inject","z":"59b99ef6.a6466","name":"","topic":"","payload":"","payloadType":"none","repeat":"1","crontab":"","once":false,"x":87,"y":248,"wires":[["b12173a3.4ede9"]]},{"id":"a95f7d2c.56a08","type":"bbb-discrete-out","z":"59b99ef6.a6466","pin":"P8_8","inverting":false,"toggle":false,"defaultState":"0","name":"","x":677,"y":313,"wires":[[]]},{"id":"cb38932b.34c77","type":"debug","z":"59b99ef6.a6466","name":"","active":true,"console":"false","complete":"false","x":690,"y":398,"wires":[]},{"id":"b8027861.47fd88","type":"function","z":"59b99ef6.a6466","name":"","func":"msg.payload = (msg.payload).toString();\nif (msg.payload >= 0.70)\n    msg.payload = 0\nelse\n    msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":346,"wires":[["cb38932b.34c77","8168481a.7e97b8"]]},{"id":"8168481a.7e97b8","type":"delay","z":"59b99ef6.a6466","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":478,"wires":[["a95f7d2c.56a08"]]},{"id":"3bfb27a3.c404d8","type":"file","z":"59b99ef6.a6466","name":"","filename":"msg.payload","appendNewline":true,"createDir":true,"overwriteFile":"false","x":197,"y":313,"wires":[]},{"id":"757324d6.8a8cdc","type":"watch","z":"59b99ef6.a6466","name":"","files":"msg.payload,root","x":242,"y":403,"wires":[["3bfb27a3.c404d8"]]}]