program/counter/counter.txt
[{"id":"7b5a6157.84a5a","type":"inject","name":"trigger at start","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":true,"x":145,"y":201,"z":"7626b8cd.89d948","wires":[["d20a5363.2df5b"]]},{"id":"d20a5363.2df5b","type":"function","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\nreturn msg;","outputs":"1","x":486,"y":203,"z":"7626b8cd.89d948","wires":[["1e3b1a84.e1c4e5","59234f2e.a6dcb"]]},{"id":"1e3b1a84.e1c4e5","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485,"y":133,"z":"7626b8cd.89d948","wires":[["d20a5363.2df5b"]]},{"id":"59234f2e.a6dcb","type":"debug","name":"","active":true,"console":false,"complete":false,"x":659,"y":199,"z":"7626b8cd.89d948","wires":[]}]