program/google_map_integration/google_map_integration.txt
[{"id":"54651cc0.ab9ae4","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"e9ed2c86.1612d","type":"websocket out","name":"","server":"54651cc0.ab9ae4","x":646,"y":162,"z":"7626b8cd.89d948","wires":[]},{"id":"63afba75.9c5044","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;","outputs":1,"x":407,"y":136,"z":"7626b8cd.89d948","wires":[["e9ed2c86.1612d"]]},{"id":"ef8d631a.1072a","type":"websocket in","name":"","server":"54651cc0.ab9ae4","x":236,"y":196,"z":"7626b8cd.89d948","wires":[["9802aed8.67fd5"]]},{"id":"9802aed8.67fd5","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\nreturn msg;","outputs":1,"x":409,"y":202,"z":"7626b8cd.89d948","wires":[["e9ed2c86.1612d"]]},{"id":"1ec36e7f.e13c92","type":"template","name":"","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Owntracks & Node-Red Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n  var socketaddy = \"ws://127.0.0.1:1880/ws/location\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      \n      map = new GMaps({\n        div: '#map',\n        lat: -12.043333,\n        lng: -77.028333\n      });\n      \n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t});\n        \n        map.removeMarkers();\n        map.removePolylines();\n       \tconsole.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n        map.setZoom(17);\n       \tmap.setCenter(latlng[0].lat, latlng[0].lng);\n        map.addMarkers(latlng);\n      \tmap.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});\n      }\n    });\n  </script>\n</body>\n</html>","x":439,"y":273,"z":"7626b8cd.89d948","wires":[["b39c24b8.4c63d8"]]},{"id":"b39c24b8.4c63d8","type":"http response","name":"","x":623,"y":273,"z":"7626b8cd.89d948","wires":[]},{"id":"dd7ecdcd.22813","type":"http in","name":"","url":"/map","method":"get","x":218,"y":278,"z":"7626b8cd.89d948","wires":[["1ec36e7f.e13c92"]]},{"id":"d18dcdcb.2e723","type":"debug","name":"","active":true,"console":false,"complete":false,"x":483,"y":81,"z":"7626b8cd.89d948","wires":[]},{"id":"d5850c5a.2a7af","type":"inject","name":"Array of Co-ords","topic":"","payload":"[{\"lat\":54.9619349,\"lng\":-1.6003813},{\"lat\":54.9656694,\"lng\":-1.5239833},{\"lat\":54.9696456,\"lng\":-1.5069755},{\"lat\":54.9378907,\"lng\":-1.5273729}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":189,"y":85,"z":"7626b8cd.89d948","wires":[["63afba75.9c5044","d18dcdcb.2e723"]]},{"id":"56cc2501.a933dc","type":"inject","name":"Single Co-ord","topic":"","payload":"[{\"lat\":54.9696456,\"lng\":-1.5069755}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":179,"y":131,"z":"7626b8cd.89d948","wires":[["63afba75.9c5044"]]}]